In [3]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

from sklearn.decomposition import FactorAnalysis, PCA
from sklearn.preprocessing import StandardScaler
from sklearn.datasets import load_iris

In [8]:
data = pd.read_csv("selective.csv")
data

,id,child_gender,child_age,level,total_correct_responses,correct_responses,total_duration
0,4,1,4,1,7,7,50680
1,5,1,4,2,6,6,20251
2,6,1,4,3,6,6,17833
3,7,1,4,4,6,5,12742
4,8,1,4,5,6,6,10185
5,9,1,4,1,6,6,10906
6,10,1,4,2,6,7,17589
7,11,1,4,3,8,7,16523
8,12,1,4,4,7,8,19378
9,13,1,4,5,8,8,20784
10,14,1,4,1,7,7,20538
11,15,1,4,2,6,6,42105
12,16,1,4,3,6,5,28675
13,17,2,4,1,6,6,12639
14,18,2,4,2,6,6,11978
15,19,2,4,3,6,6,12227
16,20,2,4,4,6,6,11602
17,21,2,4,5,6,6,12929
18,22,2,4,1,6,6,7821
19,23,2,4,2,6,6,8191
20,24,2,4,3,7,8,10828
21,25,2,4,4,9,7,20371
22,26,2,4,5,8,7,11142
23,27,1,4,1,6,7,9874
24,28,1,4,2,7,7,10696
25,29,1,4,3,7,8,7476
26,30,1,4,4,9,11,17314
27,31,1,4,5,10,10,17215
28,32,1,4,1,7,7,10265
29,33,1,4,2,6,6,9727
30,34,1,4,3,9,10,12375
31,35,1,4,4,9,11,13754
32,36,1,4,5,8,6,13273

In [9]:
X = StandardScaler().fit_transform(data["data"])
feature_names = data["feature_names"]

KeyError: 'data'